/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца +++
✦ card__like-button — для кнопки Like рядом с иконкой +++
✦ card__icon-button — для кнопки, оборачивающей иконку +++
✦ card__icon-button — для кнопки, оборачивающей иконку +++(the same)
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца +++(in animations.css)
✦ button__text — для обозначения текстового элемента внутри кнопки +++

*/

.filter-grayscale {
  filter: grayscale(70%);
}

.filter-saturate {
  filter: saturate(70%);
}

.filter-contrast-hue_rotate-saturate {
  filter: contrast(80%) hue-rotate(40deg) saturate(100%);
}

.filter-invert {
  filter: invert(15%);
}

.filter-sepia {
  filter: sepia(25%);
}

.filter-blur {
  filter: blur(1px);
}

.filter-hue_rotate-opacity-blur {
  filter: hue-rotate(25deg) opacity(100%) blur(1px);
}

.page {
  padding-block-start: 100px;
  color: var(--basic-color);
  font-family: var(--basic-font, 'Inter', sans-serif);
  background-color: var(--basic-background-color);
  background-image: var(--background_image, none);
  background-size: cover;
  background-attachment: fixed;
  font-variation-settings: 'wght' var(--weight_basic-text-card);
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

.header {
  display: grid;
  justify-content: center;
  justify-items: center;
  font-family: var(--accent-font);
  line-height: normal;
  text-transform: uppercase;
}

.header_add {
  margin-inline: auto;
  border: 2px solid var(--basic-color);
  background-color: var(--basic-background-color);
  max-inline-size: 700px;
  margin-block-end: 100px;
  padding-block-end: 10px;
}

.header_html {
  font-size: clamp(3.125rem, 2.7949rem + 1.4085vw, 4.0625rem);
}

.header_html-add {
  margin-block-start: clamp(7.5rem, 7.2799rem + 0.939vw, 8.125rem);
  margin-block-end: 20px;
}

.header_tag {
  font-size: clamp(0.9375rem, 0.7614rem + 0.7512vw, 1.4375rem);
}

.header_navigation {
  margin-block: 25px;
}

.header_navigation-list {
  display: grid;
  gap: 8px;
  padding-inline-start: 20px;
}

.header_navigation-item {}

.header_button {
  position: relative;
  border: none;
  font-size: 14px;
  background-color: transparent;
  appearance: none;
  color: transparent;
  text-transform: uppercase;
}

.main {
  display: grid;
  justify-items: center;
  gap: 57px;
  padding-block-end: 103px;
}

.article_list {
  display: grid;
  gap: 50px;
}

.article_list-itme {}

.article {
  margin-inline: auto;
  border: 2px solid var(--basic-color);
  background-color: var(--basic-background-color);
  max-inline-size: 700px;
}

.article_title {
 /* border-block-end: 2px solid var(--basic-color); */
  padding: 5px 10px;
  margin: 3px 0 0 0;
  font-size: 18px;
  line-height: 100%;
  font-variation-settings: 'wght' var(--weight_title-card);
}

.image_div {
  position: relative;
  overflow: hidden; /* нужно ли? */
}

.image_html {
  position: absolute;
  z-index: 1;
  opacity: 0.5;
  text-transform: uppercase;
  color: var(--basic-color);
  font-family: var(--accent-font, 'PressStart2P', sans-serif);
  font-size: 14px;
  line-height: normal;
  text-shadow: 0 0 1px var(--text-shadow-color);
  inset-inline-end: 22px;
  inset-block-start: 29px;
  mix-blend-mode: hard-light;
}

.image_html-lowercase {
  text-transform: lowercase;
}

.image_html-capitalize {
  text-transform: capitalize;
}

.image { /*проверить размеры картинки, переделать, если надо*/
  display: block;
  object-fit: cover;
  object-position: center;
/*  min-width: 375px; */
  
 /* min-height: 375px; */
  width: 700px; /*изменила max-width на width*/ /*проверить, нужно ли? попроовать убрать:)*/
 /* max-height: 700px; 
  height: 100vh;*/ /*вроде, работает для картинок 1440px*/
  inline-size: 100%;
  height: 700px; 
 /* aspect-ratio: 1 / 1;  */
 /* aspect-ratio: auto; */ /*нужна ли эта строчка?*/
  border-block-start: 2px solid var(--basic-color);
  border-block-end: 2px solid var(--basic-color);
}

.image-add {
/*  object-fit: cover; */
  object-position: top left;
}

.image-add_corr-location {
 /* object-fit: cover; */
  object-position: center left;
}

.article_text {
  display: grid;
  gap: 27px;
 /* border-block-start: 2px solid var(--basic-color); */
  margin-inline: 25px 25px;
  margin-block: 25px 25px;
  font-size: 18px;
  line-height: 21px;
}

.set-buttons_article {
  display: flex;
  justify-content: end;
  align-items: stretch;
  gap: 8px;
  margin-inline: 0 25px;
  margin-block: 0 25px;
  height: 38px;
}

.card__icon-button {
  display: grid;
  border: 2px solid transparent;
  padding: 0 0 3px 6px; /*переделала для сердца, чтобы было по центру кнопки*/
  background-color: transparent;
  transition: border 0.3s ease;
  cursor: pointer;
  appearance: none;
 /* height: 38px; */
  width: 38px;
  justify-content: center;
  align-content: center; 
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--basic-color); 
}

.button {
  appearance: none;
  position: relative;
  z-index: 1;
  border: 2px solid var(--basic-color);
  padding: 12.5px 37px;
  font-family: var(--accent-font);
  font-size: 14px;
  background-color: var(--basic-background-color);
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--basic-color);
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: var(--basic-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  inline-size: 100%;
  block-size: 100%;
}

.button:hover::before {
  transform: scaleX(1);
}

.card__like-button {
  transition: box-shadow 0.3s ease;
  text-transform: capitalize;
  padding: 0;
 /* height: 38px; */
  width: 130px; 
}

.button_save {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 15px 24px;
}

.button_icon-diskette {
  inline-size: 21px;
  block-size: 21px;
  color: var(--basic-background-color);
  mix-blend-mode: difference;
}

.button__text {
  color: var(--basic-background-color);
  mix-blend-mode: difference;
  font-size: 13.5px; /*изменила с 14px*/
}

.like-icon {
  block-size: 36px;
  inline-size: 39px;
  margin-block-start: 8px;
  margin-inline-end: 6px;
}

.modal {
  border: 2px solid var(--basic-color);
  padding: 30px;
  color: var(--basic-color);
  font-family: var(--accent-font);
  line-height: 150%;
  text-transform: uppercase;
  background-color: var(--basic-background-color);
  max-inline-size: 355px;
}

.modal[open] {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  gap: 30px;
}

.modal::backdrop {
  background-color: var(--basic-color);
  opacity: 0.75;
}

.set_modal-window {
 /* display: flex;
  align-items: center;
  gap: 20px; */
  display: flex;
  justify-content: end;
  align-items: stretch;
  gap: 5px;
  padding: 25px 25px 25px 25px;
}

.modal__icon {
  inline-size: 39px;
  block-size: 39px;
  flex-shrink: 0;
}

.modal__button {
  text-transform: uppercase;
  inline-size: 100%;
}

@media (width <= 425px) {
  .header_add {
   /* inline-size: 425px; добавила, иначе не вставал на всю ширину*/
  }
}

@media (width <= 375px) {

  .header_add {
    min-inline-size: 379px; /*поправила, иначе не вставал на всю ширину*/
  }

  .image { /*проверить размеры картинок*/
    min-height: 375px; /*с min-height не встает нормально 2 картинки*/
    min-width: 375px;
    object-fit: cover;
  }

  .modal {
    padding: 30px 40px 30px 40px;
    max-inline-size: 341px;
  }

  .button_save {
    display: flex;
    flex-direction: column;
  }

  .button_icon-diskette {
    inline-size: 28px;
    block-size: 28px;
  }
}

@supports (
  (-webkit-text-stroke: 1px var(--basic-background-color)) or
    (text-stroke: 1px var(--basic-background-color))
) {
  .image_html {
    -webkit-text-stroke: 1px var(--basic-background-color);
    text-shadow: none;
  }
}