/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --basic-color: #000000;
  --basic-background-color: #ffffff;
  --text-shadow-color: #ffffff;
  --heart-contour-color: #000000;
  --heart-main-body-color: none;
  --heart-core_main-body_contour_like-color: #ff0000;
  --heart_sparks: #ff0000;
  --basic-font: 'Inter', sans-serif;
  --accent-font: 'PressStart2P', serif;
  --weight_basic-text-card: 400;
  --weight_title-card: 700;
  --background_image: repeating-linear-gradient(
      to right, #d3d3d3 0 2px, #d3d3d300 2px 4px),
      repeating-linear-gradient(
      to bottom, #d3d3d3 0 2px, #d3d3d300 2px 4px),
      linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
}